# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
/Reinos Lokos/bin
/Reinos Lokos/obj

# mstest test results
TestResults

# Cosas que no quiero que suban
Reinos Lokos.userprefs
